body{
background-color:gold;
}
h1{
    background-color: red;
    color: blue;
}
#show_sketch{
    float: right;
}
p{
    font-size: 21px;
    padding-top: 30px;
    
}
canvas{
    border: 5px solid goldenrod;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 250px;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{
        box-shadow: 1px 1px 38px orangered;
    }
    to{
        box-shadow: 1px 1px 38px orange;
    }
}
#score{
    float: left;
}
#timer{
    float: right;
}